<h2>Publicações</h2>

<table class="table table-striped">
  <thead>
    <tr>      
      <th>Título</th>
      <th>Ano</th>
      <th>País</th>
      <th>Idioma</th>
      <th>Página web</th>
      <th>Título inglês</th>
      <th>Tipo</th>
      <th class="table-actions"></th>
    </tr>
  </thead>

  <tbody>
    <% @basic_publications.each do |basic_publication| %>
      <tr>        
        <td><%= basic_publication.title %></td>
        <td><%= basic_publication.year %></td>
        <td><%= basic_publication.country %></td>
        <td><%= basic_publication.language %></td>
        <td><%= basic_publication.webpage %></td>
        <td><%= basic_publication.english_title %></td>
        <td><%= basic_publication.publication_type %></td>
        <td><%= link_to 'Mostrar', basic_publication %> | 
        <%= link_to 'Editar', edit_basic_publication_path(basic_publication) %> | 
        <%= link_to 'Destruir', basic_publication, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


