<%= form_for(@event_publication.basic_publication) do |f| %>
	<%= f.fields_for :event_publication do |ff| %>
	  <% if @event_publication.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@event_publication.errors.count, "error") %> prohibited this event_publication from being saved:</h2>
	
	      <ul>
	      <% @event_publication.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>  	
	    
	  <%= ff.number_field :basic_publication_id, class: "hidden" %>
	  
	  <div class="field">
	    <%= ff.label :eventName %><br>
	    <%= ff.text_field :eventName %>
	  </div>
	  <div class="field">
	    <%= ff.label :eventCity %><br>
	    <%= ff.text_field :eventCity %>
	  </div>
	  <div class="field">
	    <%= ff.label :year %><br>
	    <%= ff.number_field :year %>
	  </div>
	  <div class="field">
	    <%= ff.label :annalTitle %><br>
	    <%= ff.text_field :annalTitle %>
	  </div>
	  <div class="field">
	    <%= ff.label :volume %><br>
	    <%= ff.text_field :volume %>
	  </div>
	  <div class="field">
	    <%= ff.label :issue %><br>
	    <%= ff.text_field :issue %>
	  </div>
	  <div class="field">
	    <%= ff.label :series %><br>
	    <%= ff.text_field :series %>
	  </div>
	  <div class="field">
	    <%= ff.label :startingPage %><br>
	    <%= ff.number_field :startingPage %>
	  </div>
	  <div class="field">
	    <%= ff.label :endingPage %><br>
	    <%= ff.number_field :endingPage %>
	  </div>
	  <div class="field">
	    <%= ff.label :ISBN %><br>
	    <%= ff.text_field :ISBN %>
	  </div>
	  <div class="field">
	    <%= ff.label :publisherName %><br>
	    <%= ff.text_field :publisherName %>
	  </div>
	  <div class="field">
	    <%= ff.label :publisherCity %><br>
	    <%= ff.text_field :publisherCity %>
	  </div>
	  <div class="actions">
	    <%= ff.submit %>
	  </div>
  <% end %>
<% end %>
